#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"
      #ifndef VERSION_MACRO
      #endif

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hmlt: homerow_mods_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mo 2             &kp NUMBER_1  &kp N2      &kp N3      &kp N4  &kp N5  &none                                                            &trans    &kp N6  &kp N7  &kp N8          &kp N9        &kp N0           &mo 3
&kp TAB           &kp Q         &kp W       &kp E       &kp R   &kp T   &none                                                            &none     &kp Y   &kp U   &kp I           &kp O         &kp P            &kp APOS
&kp ESCAPE        &kp A         &kp S       &kp D       &kp F   &kp G   &none               &none       &none      &none  &none          &none     &kp H   &kp J   &kp K           &kp L         &kp SEMI         &kp ENTER
&hm LSHIFT EQUAL  &hm LCTRL Z   &hm LALT X  &hm LGUI C  &kp V   &kp B                                   &none      &none                           &kp N   &kp M   &hm LGUI COMMA  &hm RALT DOT  &hm LCTRL SLASH  &hm RSHIFT MINUS
&none             &none         &none       &none       &none           &mt LGUI BACKSPACE  &kp LSHIFT  &none      &none  &hmlt 1 SPACE  &kp RALT          &none   &trans          &trans        &none            &none
            >;
        };

        layer_sym_nav {
            bindings = <
&trans  &trans  &trans                 &trans                  &trans         &trans     &trans                                      &trans  &trans          &trans          &trans        &trans           &trans  &trans
&trans  &trans  &kp LEFT_PARENTHESIS   &kp RIGHT_PARENTHESIS   &trans         &trans     &trans                                      &trans  &trans          &trans          &trans        &trans           &trans  &trans
&trans  &trans  &kp LEFT_BRACE         &kp RIGHT_BRACE         &kp PIPE       &kp GRAVE  &trans  &trans  &trans      &trans  &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans  &hm LALT LEFT_BRACKET  &hm LGUI RIGHT_BRACKET  &kp BACKSLASH  &kp TILDE                  &trans      &trans                  &trans          &trans          &trans        &trans           &trans  &trans
&trans  &trans  &trans                 &trans                  &trans                    &trans  &trans  &trans      &trans  &trans  &trans                  &trans          &trans        &trans           &trans  &trans
            >;
        };

        layer_fn {
            bindings = <
&trans  &kp F1         &kp F2        &kp F3  &kp F4  &kp F5  &trans                                      &trans  &kp F6  &kp F7  &kp F8  &kp F9             &kp F10          &trans
&trans  &kp C_BRI_DEC  &kp C_BRI_UP  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans
&trans  &trans         &trans        &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans             &trans           &trans
&trans  &trans         &trans        &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans             &trans           &trans
&trans  &trans         &trans        &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans             &trans           &trans
            >;
        };

        layer_mod {
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &tog 0                                                 &none                   &none  &none       &none       &none  &none  &none
&none  &none         &none         &none         &none         &none         &bootloader                                            &bootloader             &none  &none       &none       &none  &none  &none
&none  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &rgb_ug RGB_MEFS_CMD 5  &none  &none       &none       &none  &none  &none
&none  &none         &none         &none         &macro_ver    &none                             &none      &none                                           &none  &none       &none       &none  &none  &none
&none  &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG                &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };
    };
};
